POSTGRES_PASSWORD=BITTE_HIER_EIN_LANGES_PASSWORT_SETZEN
JWT_SECRET=BITTE_HIER_EIN_ZUFAELLIGES_SECRET_MIT_MINDESTENS_32_BYTES_SETZEN
API_PORT=18080

ADMIN_PUBLIC_PORT=18081
ADMIN_USERNAME=admin
ADMIN_PASSWORD=BITTE_HIER_EIN_ADMIN_PASSWORT_MIT_MINDESTENS_10_ZEICHEN_SETZEN
ADMIN_SESSION_SECRET=BITTE_HIER_EIN_ZWEITES_ZUFAELLIGES_SECRET_MIT_MINDESTENS_32_BYTES_SETZEN
